.background-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  /* ^ change this for image screen filling */
  top: 0;
  left: 0;
}

.title{
  font-size: 45px;
  color: white
}

.n-item{
  color: white;
}

.nav{
  margin-top: 20px;
}

.nav > .nav-item a:hover{
  color: grey
}

.container-fluid > .text-center a:hover{
  color: grey
}

.b2{
  opacity: .7
}

.design {
  font-size: 25px
}
.contact {
  font-size: 25px
}
.js {
  font-size: 25px
}
.react {
  font-size: 25px
}
.design {
  font-size: 25px
}
.container-js{
  position:absolute;
}
.design-items{
border: solid;
}

.graham {
  /* position:  absolute; */
  font-size: 55px;
  padding: 100px 200px 100px 100px;
  margin: 100% 100px 100px 100px;
}

.bakery{
  position: absolute;
  font-size: 55px;
  padding: 100px 100px 100px 100px;
}

.class{

}

.g-card{
  height: 100px;
  width: 100px;
}
.card{
  display: inline;
}
